<a href="https://colab.research.google.com/github/samuel-guedes/data_science/blob/master/An%C3%A1lise_de_ENEM_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise de ENEM 2019**

Análise realizada durante a Imersão Dados realizado pela **ALURA**  (www.alura.com.br) com os instrutores Thiago Santos, Thainá Mariani, Guilherme Silveira e Maria Gabriela.
<br><br>
Para as aulas foi disponibilizado uma amostra dos dados disponíveis em http://download.inep.gov.br/microdados/microdados_enem_2019.zip. Como a base é consideravelmente grande (3GB / mais de 5 milhões de linhas), criei uma nova amostra com 10% da base total para seguir com os Desafios porpostos durante a Imersão de Dados
<br><br>



### **Base de Dados Completa**
 
 <p align=center><img src= "https://bit.ly/3dW7Q9n" width= "50%"></p>
 <br><br>

 ### **Comparação entre Base e Amostra**
 Comparando as duas base de dados vemos que não há diferença entre a População e Amostra, como podemos observar utilzando Boxplot e Describe.

 <br>
 <p align=center><img src= "https://bit.ly/3mn8PT7" width= "40%">
                <img src= "https://bit.ly/3dSUQl2" width= "60%"></p>
 <br><br>

## ***Análise Exploratória***

In [1]:
#Importando bibliotecas necessárias

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
base = pd.read_csv(sample)
base.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001004661    2019                  1506138  ...    A     B    B
1  190001004674    2019                  1504208  ...    A     A    B
2  190001004722    2019                  1501402  ...    A     A    B
3  190001004735    2019                  1507300  ...    A     A    B
4  190001004776    2019                  1500800  ...    A     A    B

[5 rows x 136 columns]

In [ ]:
base.dtypes

NU_INSCRICAO                int64
NU_ANO                      int64
CO_MUNICIPIO_RESIDENCIA     int64
NO_MUNICIPIO_RESIDENCIA    object
CO_UF_RESIDENCIA            int64
                            ...
Q021                       object
Q022                       object
Q023                       object
Q024                       object
Q025                       object
Length: 136, dtype: object

In [ ]:
base.describe()

<bound method NDFrame.describe of         NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0       190001004661    2019                  1506138  ...    A     B    B
1       190001004674    2019                  1504208  ...    A     A    B
2       190001004722    2019                  1501402  ...    A     A    B
3       190001004735    2019                  1507300  ...    A     A    B
4       190001004776    2019                  1500800  ...    A     A    B
...              ...     ...                      ...  ...  ...   ...  ...
127375  190006120035    2019                  3142700  ...    A     B    B
127376  190006120036    2019                  2902807  ...    A     B    B
127377  190006120037    2019                  2927408  ...    A     A    B
127378  190006120060    2019                  2930709  ...    A     A    A
127379  190006120170    2019                  3106200  ...    B     A    B

[127380 rows x 136 columns]>